body {
    font-family: Arial;
    background-color: #7c7777;
}

.menu {
    background-color: #a8a8a8;
    width: 200px;
    padding: 10px;
    float: left;
}

.conteudo {
    margin-left: 220px;
    padding: 10px;
    background-color: #a8a8a8;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
.Painel1{
    background-color: #2e5ee2;
    text-align: center;
    
    border-radius: 40px;
    margin: 40px;
    color: white;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e5ee2;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    border-radius: 40px;
    margin: 40px;
    width: 1000px;
    }